footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1px;
}

footer a {
	color: grey;
	font-size: large;
    font-weight: 700;
	margin-right: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-decoration: underline;
}

footer a:hover {
	color: white;
	font-weight: 400;
	text-decoration: none;
}
